button.classic{
	font-size: 28px;
	margin: 5px;
	width: 100px;
	height: 100px;
}

button.classic1{
	font-size: 32px;
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color: Aquamarine;
}

button.classic2{
	font-size: 32px;
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color: Orchid;
}

#message{
	font-size: 36px;
	font-weight: bold;
}

#tips{
	font-size: 36px;
	font-weight: bold;
}
